@font-face {
    font-family: Varela;
    src: local('/fonts/VarelaRound-Regular.ttf'), 
        url("/fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: Comixno;
    src: local('/fonts/comixno2clm_medium-webfont.woff') format('woff'), 
        url("/fonts/comixno2clm_medium-webfont.woff") format('woff'),
        url("/fonts/comixno2clm_medium-webfont.ttf");
}